<div ng-controller="ContactCtrl">
  <div class="row">
    <div class="col-sm-4 contact-info card-view">
      <h4><strong>Phone:</strong></h4> <p><h4> 330-819-1272</h4></p>
      <br />
      <h4><strong>Email:</strong></h4><p> jeanette@creativepaintingandstenciling.com</p>
    </div>
    <div class="col-sm-8">

    <div class="contact-success alert alert-success alert-dismissible" role="alert" style="display:none;">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <b>Message sent successfully.</b> We'll get in touch with you soon. 
    </div>

    <div class="contact-fail alert alert-warning alert-dismissible" role="alert" style="display:none;">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <b>Sending message failed.</b> Sorry. Please send me an <a href="mailto:jeanette@creativepaintingandstenciling">email</a> or give me a call (330-819-1272).
    </div>

      <!-- <form class="form-horizontal" role="form" action="http://forms.brace.io/jeanette@creativepaintingandstenciling.com" method="POST" novalidate> -->
      <form class="form-horizontal" role="form" name="contactForm" novalidate>

        <div class="form-group" ng-class="{'has-error': contactForm.nameField.$dirty && contactForm.nameField.$invalid}">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-7">
            <input type="text" name="nameField" class="form-control" id="name" placeholder="Name (required)" ng-model="form.name" required>

            <div class="form-error" ng-show="contactForm.nameField.$dirty && contactForm.nameField.$invalid">
              <span ng-show="contactForm.nameField.$error.required">Your name is required.</span>
            </div>   

          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-7">
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="form.email">
          </div>
        </div>
        <div class="form-group">
          <label for="phone" class="col-sm-2 control-label">Phone</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="phone" placeholder="Phone" ng-model="form.phone">
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': contactForm.contactMsg.$dirty && contactForm.contactMsg.$invalid}">
          <label for="msg" class="col-sm-2 control-label">Message</label>
          <div class="col-sm-7">
            <textarea class="form-control" name="contactMsg" id="msg" rows="3" placeholder="Message (required)" ng-model="form.message" required></textarea>

            <div class="form-error" ng-show="contactForm.contactMsg.$dirty && contactForm.contactMsg.$invalid">
              <span ng-show="contactForm.contactMsg.$error.required">Message is required.</span>
            </div> 

          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" ng-click="sendForm()"
            ng-disabled="contactForm.nameField.$pristine || contactForm.nameField.$dirty && contactForm.nameField.$invalid || contactForm.contactMsg.$dirty && contactForm.contactMsg.$invalid">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>