
<div class="card-view home-card">
  <div class="row">
    <div class="col-xs-3 homepage-writing">
      <p>Creative Painting and Stenciling is owned and operated by Jeanette Mosier 
        from Wadsworth, Ohio. Jeanette has been painting and stenciling homes in 
        Northeast Ohio and beyond since 1995. Her work has been featured in numerous 
        nationwide publications such as Country Homes magazine. She specializes in a wide 
        array of design techniques and only uses the highest quality materials available, 
        so the job is always completed to the highest of standards and in a timely manner. 
        There is no job too big or small for Jeanette. Creative Painting and Stenciling by 
        Jeanette offers professional services and quality without the high professional cost.</p>
    </div>
    <div class="col-xs-9 col-carousel">     
      <div id="cps-carousel" class="carousel slide" data-interval="0" boot-carousel>

        <ol class="carousel-indicators">
          <li data-target="#cps-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#cps-carousel" data-slide-to="1"></li>
          <li data-target="#cps-carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <div class="inner-item">
              <img ng-src="img/art/chef.jpg" alt="" width="700">
            </div>
          </div>
          <div class="item">
            <div class="inner-item">
              <img src="img/art/clothes-line3.jpg" alt="" width="700">
            </div>
          </div>
          <div class="item">
            <div class="inner-item">
              <img src="img/art/boat.jpg" alt="" width="700">
            </div>
          </div>
       
        </div>

        <a class="left carousel-control cursor-pointer " data-target="#cps-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control cursor-pointer " data-target="#cps-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>
